{% extends "base.html" %}
{% block content %}
{% if personas %}
<h1>Personas Confirmadas</h1>
<table>
<!--
 <thead >
  <tr>
  <th>Nombre</th>
  <th>Habilidad</th>
  <th>Grupo</th>
  </tr>
  </thead>
-->
 <tbody>
{% for persona in personas %}
  <tr>
  <th width=25%>{{ persona.nombre }} {{ persona.apellido }}</th>
  <th>{{ persona.equipo }}</th>
  <th><strong>Confirmado!</strong></th>
  </tr>
  
<!--  <tr>
  <th>{{ persona.get_skill_display }}</th>
  <th>{{ persona.equipo }}</th>
  </tr>-->
  <tr><th></th><th></th></tr>
{% endfor %}
 </tbody>
</table>
{% else %}
<h2>Aun no hay participantes confirmados!</h2>
{% endif %}
{% endblock %}
