{% extends "base.html" %}

{% block content %}
  <div class="in">
    <h2>Antes del Evento</h2>
    <p>Si bien el evento está enfocado en el desarrollo de un juego en 1 día, esperamos que los asistentes traigan sus ambientes de desarrollo (o posibles ambientes) instalados y ejerciten usar las herramientas o software, dependiendo del caso. Para eso hemos creado una lista de los requisitos para participar del workshop en <a href="http://workshop.usmgames.cl/requisitos/">Requisitos</a>, donde además encontrarán links de ayuda.
    </p>
    <h2>Programa</h2>
<p>Sujeto a cambios, charlas por confirmar.</p>
<h3>Viernes</h3>
	<table border="1">
<tr>
	<td>
	<b>Hora</b>
	</td>
	<td>
	<b>Actividad 1</b>
	</td>
	<td>
	<b>Actividad 2</b>
	</td>
</tr>
<tr>
        <td>
        2:30 - 3:00 PM
        </td>
        <td>
        Acreditación
        </td>
        <td>
        </td>
</tr>

<tr>
	<td>
	3:00 - 4:00 PM
	</td>
	<td>
	Inauguración
	</td>
	<td>
	</td>
</tr>
<tr>
	<td>
	4:15 - 5:15 PM
	</td>
	<td>
	Prototipeo de juegos 3D en Blender
	</td>
	<td>
	Videojuegos en Móviles
	</td>
</tr>
<tr>
	<td>
	5:30 - 6:30 PM
	</td>
	<td>
	Charla Flash
	</td>
	<td>
	(Por Confirmar)
	</td>
</tr>
<tr>
        <td>
        6:45 - 7:45 PM
        </td>
        <td>
        Mesas Redondas
        </td>
        <td>
        
        </td>
</tr>
</table>

<h3>Sábado</h3>
<table border="1" width="100px">
<tr>
        <td>
        <b>Hora</b>
        </td>
        <td>
        <b>Actividad</b>
        </td>
</tr>
<tr>
        <td>
        9:00 - 9:30 AM
        </td>
        <td>
        Acreditación
        </td>
</tr>
<tr>
        <td>
        9:30 - 10:00 AM
        </td>
        <td>
        Inicio Competencia
        </td>
</tr>
<tr>
        <td>
        10:00 - 20:00
        </td>
        <td>
        ¡Desarrollo!
        </td>
</tr>

<tr>
        <td>
        8:00 - 9:00 PM
        </td>
        <td>
        Presentación Resultados
        </td>
</tr>

</table>

    <h2>Cómo llegar</h2>
    <p>El campus San Joaquín de la UTFSM en Santiago se encuentra ubicado a pasos del metro Camino Agricola en la comuna de San Joaquin.
    </p>
    <p>
    El evento se realizará los dias 10 y 11 de junio, empezando a las 3 de la tarde del día viernes y a las 9 de la mañana del día sábado
    </p>
    
<!--
<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.cl/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=Av.+Vicu%C3%B1a+Mackenna+3939,+San+joaquin&amp;aq=&amp;sll=-33.5655,-70.585184&amp;sspn=0.012999,0.01929&amp;ie=UTF8&amp;hq=&amp;hnear=Av+Vicu%C3%B1a+Mackenna+Poniente+3939,+San+Joaqu%C3%ADn,+Santiago&amp;ll=-33.491231,-70.618057&amp;spn=0.034359,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.cl/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=Av.+Vicu%C3%B1a+Mackenna+3939,+San+joaquin&amp;aq=&amp;sll=-33.5655,-70.585184&amp;sspn=0.012999,0.01929&amp;ie=UTF8&amp;hq=&amp;hnear=Av+Vicu%C3%B1a+Mackenna+Poniente+3939,+San+Joaqu%C3%ADn,+Santiago&amp;ll=-33.491231,-70.618057&amp;spn=0.034359,0.054932&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
-->
<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.cl/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=San+Joaqu%C3%ADn,+Av.+Vicu%C3%B1a+Mackenna+3939,santiago&amp;aq=&amp;sll=-33.491106,-70.618379&amp;sspn=0.004223,0.010021&amp;ie=UTF8&amp;hq=&amp;hnear=Vicu%C3%B1a+Mackenna+3939,+San+Joaqu%C3%ADn,+Santiago&amp;ll=-33.488655,-70.618315&amp;spn=0.03436,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.cl/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=San+Joaqu%C3%ADn,+Av.+Vicu%C3%B1a+Mackenna+3939,santiago&amp;aq=&amp;sll=-33.491106,-70.618379&amp;sspn=0.004223,0.010021&amp;ie=UTF8&amp;hq=&amp;hnear=Vicu%C3%B1a+Mackenna+3939,+San+Joaqu%C3%ADn,+Santiago&amp;ll=-33.488655,-70.618315&amp;spn=0.03436,0.054932&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
  </div>
{% endblock %}
