{% extends "base.html" %}

{% block content %}
  <div class="in">
    <h2>Como llegar</h2>
    <p>El workshop se realizara el día 14 de Junio etc etc</p>
    
<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.cl/maps/ms?ie=UTF8&amp;hl=es&amp;msa=0&amp;msid=201031974843850648967.0004a465dd01139e86afc&amp;ll=-33.035309,-71.59539&amp;spn=0.008635,0.013733&amp;z=16&amp;iwloc=0004a465e1ad7dfc55a61&amp;output=embed"></iframe><br /><small>Ver <a href="http://maps.google.cl/maps/ms?ie=UTF8&amp;hl=es&amp;msa=0&amp;msid=201031974843850648967.0004a465dd01139e86afc&amp;ll=-33.035309,-71.59539&amp;spn=0.008635,0.013733&amp;z=16&amp;iwloc=0004a465e1ad7dfc55a61&amp;source=embed" style="color:#0000FF;text-align:left">UTFSM</a> en un mapa ampliado</small>
  </div>
{% endblock %}
