{% extends "base.html" %}

{% block content %}
  <div class="in">
    <h2>Requisitos</h2>
    <p>El workshop se realizara el día 10 de Junio, desde las 15:00, y el sábado 11 de Junio, desde las 9:00 AM</p>
    <p>Una vez confirmada la gente debe verificar los siguientes contenidos para el sábado.<p>
    <p>Cada persona debe llevar una identificación válida para poder ingresar al evento.</p>
    <p>Se debe llevar idealmente notebook para trabajar, pero no es un requisito, cada equipo, de a lo más 5 personas, debería poder trabajar con 2 o 3 computadores.</p>
    <p>El juego debe desarrollarse durante el día, al participar se da por conocida esta regla, los que no la cumplan serán descalificados.</p>
    <p>Los equipos pueden llegar formados o formarse en el evento, pero deben ser de a lo más 5 personas y no menos de 3, esto sin contar a profesores y mentores apoyando.<p>
    <p>A la gente que va a llevar notebook le recomendamos instalar el siguiente Software que puede serles de utilidad para el desarrollo de video juegos en 1 día:
    <ul>
      <li><b>Blender</b> es un software open source de modelado 3D que además incluye un motor de video juegos que permite crear juegos sin la necesidad programar código o usando python, corre en Windows, Mac y Linux, descargaló aquí: <a href="www.blender.org">blender</a></li>
      <li><b>Gimp</b> es un software de edición de imagenes 2D muy potente además de ser open source, se puede instalar en Windows, Mac y Linux: <a href="http://www.gimp.org/downloads/">Gimp</a></li>
      <li><b>Android</b> es una plataforma móvil cada día más usada, para desarrollar basta saber programar en Java, no se requiere comprar software especial ni licencias, kit de desarrollo: <a href="http://developer.android.com/sdk/index.html">Android SDK</a>; Plataforma Eclipse:<a href="http://www.eclipse.org/downloads/packages/eclipse-ide-java-developers/heliossr2">Eclipse</a> (Eclipse requiere instalar un paquete adicional para desarrollo Android). Todo el software necesario para desarrollo de Android se puede usar desde Windows, Mac y Linux por lo menos. </li>
      <li><b>andengine</b> es un engine para desarrollo de juegos para Android muy usado, simple de entender y rápido para desarrollar: <a href="http://www.andengine.org/">andengine</a></li>
      <li><b>cocos2d</b> es un framework para desarrollo rápido de juegos u otros medios interactivos, existe una versión con soporte para iPhone, actualmente activamente en desarrollo: <a href="http://cocos2d.org/">Sitio Principal</a> <a href="http://www.cocos2d-iphone.org/">Sitio iPhone</a></li>
      </ul>
</p>
  </div>
    
{% endblock %}
